@import "bootstrap";

body {
  background-image: asset-url('background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  padding: 20px;
}

.custom-background {
  background-color: rgba(255, 255, 255, 0.377);
  display: inline-block;
}

.header h1 {
  font-family: 'Rochester', cursive;
  font-weight: bold;
}

.header p {
  font-family: 'Yomogi', cursive;
  font-weight: bold;
}

#english-text {
  font-family: 'Kalam', cursive;
  font-weight: bold;
  font-size: 25px;
}

#japanese-text {
  font-family: 'Yomogi', cursive;
  font-weight: bold;
  font-size: 16px;
}

#show-phrase, #speak-english, #show-japanese, #twitter {
  font-family: 'Yomogi', cursive;
  font-weight: bold;
}

.home-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000; /* Ensures the icon stays above other content */
}

.home-icon a {
  color: #000; /* Or any color you prefer */
  font-size: 24px; /* Adjust size as needed */
  text-decoration: none; /* Removes underline from the link */
}

.home-icon a:hover {
  color: #555; /* Color when hovered (optional) */
}

